body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('images/vitthal4x.png') no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: #fff; /* White text for contrast */
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 30px;
    background-color: rgba(252, 252, 252, 0.8); /* Orange background with transparency */
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
    text-align: center; /* Center align text */
}

.title {
    font-size: 2.5em;
    margin-bottom: 20px;
    text-transform: uppercase; /* Makes title more prominent */
    color: black; /* Black text for contrast */
    background-color: orange; /* Orange background for the title */
    padding: 10px; /* Adds some padding for better spacing */
    border-radius: 5px; /* Optional: rounded corners */
    display: inline-block; /* Ensures background only wraps around the text */
}


.music {
    margin: 20px 0;
}

.photo {
    margin: 20px 0;
}

.photo img {
    width: 100%; /* Make image responsive */
    max-width: 300px; /* Set a max width */
    border-radius: 10px; /* Rounded corners */
}

.abhanga, .meaning {
    margin: 20px 0;
    padding: 15px;
    border: 2px solid black; /* White border for separation */
    border-radius: 10px; /* Rounded corners */
    background-color: rgba(234, 151, 26, 0.5); /* Dark background for better readability */
    color: black;
    font-weight:600;
}

.abhanga {
    margin-top: 60px; /* Adds space below the abhanga section */
    margin-bottom: 60px; /* Adds space below the abhanga section */
    position: relative;
}


.author {
    position: absolute;
    right: 15px;
    bottom: 0;
    font-style: italic; /* Make the author name italic for emphasis */
    color: #3300ff; /* Orange color representing Hinduism */
    font-size: 1.1em;
    font-weight: bold;
}

.meaning {
    margin-top: 60px; /* Adds space above the meaning section */
}


h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: white; /* Lighter orange for headings */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); /* Adds a shadow for better visibility */
}

p {
    font-size: 1.1em;
    line-height: 1.5; /* Better line spacing for readability */
}

/* Responsive Styles */
@media (max-width: 600px) {
    .title {
        font-size: 2em;
    }
    h2 {
        font-size: 1.5em;
    }
    .container {
        padding: 20px;
    }
}

.meaning {
    position: relative;
}

.language-toggle {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
}

.language-toggle img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    /* transition: transform 0.3s ease; Smooth animation */

}

#meaning-text {
    margin-top: 20px;
}
